<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non ratione perferendis esse est cum tenetur iste libero repellendus alias culpa.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non ratione perferendis esse est cum tenetur iste libero repellendus alias culpa.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non ratione perferendis esse est cum tenetur iste libero repellendus alias culpa.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>